<form [formGroup]='userForm'>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <select  class="form-control form-control-sm" formControlName="role" > 
                  <option *ngFor="let role of roles" value="{{role}}" >{{role}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
              <input type="text" class="form-control form-control-sm" placeholder="Username" formControlName="username">
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-sm" placeholder="Email" formControlName="email">
            </div>
          </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
              <input type="text" class="form-control form-control-sm" placeholder="First name" formControlName="fName">
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-sm" placeholder="Last name" formControlName="lName">
            </div>
          </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
              <input type="text" class="form-control form-control-sm" placeholder="Phone" formControlName="phone">
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-sm" placeholder="Address" formControlName="address">
            </div>
          </div>
    </div>

    <div class="form-group">
        <button class="btn btn-sm float-right" (click)="onSubmit()">Create</button>
    </div>
   
  </form>