<nav>
    <ul class="list-unstyled p-0 pt-5">
        <li class="p-0 py-2" routerLink="/account/home" routerLinkActive="active">
            <span class="fa fa-home ml-2" alt="Home"></span>
        </li>
        <li class="p-0 py-2">
            <span class="fa fa-wallet ml-2" alt="Transactions"></span>

        </li>
        <li class="p-0 py-2 my-2" routerLink="/account/employee" routerLinkActive="active">
            <span class="fa fa-users ml-2" alt="Gestion Employers"></span>
        </li>
        <li class="p-0 py-2">
            <span class="fa fa-chart-pie ml-2" alt="Statistiques"></span>
        </li>
    </ul>
</nav>