nav {
    height: 100vh;
    background-color: #0a035f;
    li {
        width: 100%;
        cursor: pointer;
        &:hover {
            background-color: #0456a3
        }
    }
    .fa {
        color: #ffffff;
        font-size: 26px;
    }
}

.active {
    background-color: #0456a3
}