<nav>
    <ul class="list-unstyled p-0 pt-5">
        <li class="p-0 py-2">
            <img src="assets/icon/exchange.png" width="26" height="26" class="ml-3" alt="Transactions">
        </li>
        <li class="p-0 py-2 my-2">
            <img src="assets/icon/user.png" width="26" height="26" class="ml-3" alt="Gestion Employers" routerLink="/account/employee">
        </li>
        <li class="p-0 py-2">
            <img src="assets/icon/chart.png" width="26" height="26" class="ml-3" alt="Statistiques">
        </li>
    </ul>
</nav>
