thead {
    th {
        font-size: 12px;
        font-weight: lighter;
    }
}

thead {
    background-color: #0d77a5 !important;
    color: #ffffff !important;
}

tbody {
    background-color: #35beb7 !important;
    color: #ffffff !important;
}

tr {
    border-bottom: 1px solid #ffffff !important;
}
