.container-fluid {
    background-image: url('../../../assets/img/login-back.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .login-panel {
        margin-top: 12% !important;
        width: 32%;
        padding: 1em;
        margin-top: 3em;
        background-color: #ffff;
        input {
            border-radius: 0 !important;
        }
    }
}
