<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="card card-body bg-white">
                <span class="fa fa-wallet"></span>
                <div class="d-flex">
                    <h4 class="mt-2">Comptes</h4>
                    <h4 class="ml-auto number">{{accounts}}</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body bg-white">
                <span class="fa fa-money-check-alt"></span>
                <div class="d-flex">
                    <h4 class="mt-2">Solde Total</h4>
                    <h4 class="ml-auto number">$ {{ balances }}</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body bg-white">
                <span class="fa fa-users"></span>
                <div class="d-flex">
                    <h4 class="mt-2">Employers</h4>
                    <h4 class="ml-auto number">{{employees}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>