<div class="profile">
    <div class="avatar d-flex">
        <img class="rounded-circle" src="assets/img/4.jpg" alt="">
        <h6 class="ml-4 mt-3">
            <span class="font-weight-lighter d-block mb-2">{{currentUser.name}}</span>
            <span class="font-weight-lighter">Admin</span>
        </h6>
    </div>
    <div class="timer mt-3 text-center">
        <span>00 : 00: 00</span>
    </div>
    <div class="buttons d-flex justify-content-center mt-3">
        <button class="btn btn-sm btn-warning mr-3">Settings</button>
        <button class="btn btn-sm btn-danger" (click)="logout()">Logout</button>
    </div>
</div>
