.account-item,
span {
    font-size: 14px !important;
}

.account-item {
    cursor: pointer;
    &:hover {
        -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.47);
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.47);
    }
}